body, .row {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
    font-size: 15px;
    background-color: lightgray;
}


h1 {
    padding: 20px;
    text-align: center;    
    font-size: 40px;
    background-color: darkcyan;
    color: seashell;
}

h2 {
    font-size: 15px;
    color: teal;
    font-weight: bolder;
    padding-left: 20px;
    font-size: 25px;    
}


